* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 1em;
}

header h1 {
  font-size: 2em;
  margin: 0;
}

header i {
  margin-right: 0.5em;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 0.5em 1em;
}

nav button {
  margin-left: 1em;
}

main {
  margin-top: 5.5em;
  /* Height of the fixed header */
}

nav {
  padding-top: 1em;
  visibility: hidden;
}

nav button {
  margin-left: 1em;
  background-color: #9b59b6;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

nav button:hover {
  background-color: #8e44ad;
}

.blockHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blockHeader .blockID {
  font-size: 0.8em;
  opacity: 0.5;
}

.blockHeader .blockLabel {
  opacity: 0.2;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  margin: 0 0 0.5em;
}

h2 {
  font-size: 1.5em;
  margin: 0 0 0.5em;
}

h3 {
  font-size: 1.17em;
  margin: 0 0 0.5em;
}

h4 {
  font-size: 1em;
  margin: 0 0 0.5em;
}

h5 {
  font-size: 0.83em;
  margin: 0 0 0.5em;
}

h6 {
  font-size: 0.67em;
  margin: 0 0 0.5em;
}

p {
  margin: 0 0 1em;
}

pre code {
  font-size: 14px !important;
}

/* button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: 1em;
} */

button:hover {
  background-color: #0069d9;
}

.editButton,
.deleteButton,
.saveButton,
.cancelButton,
.askButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: 0.8em;
  margin-right: 0.5em;
}

.editButton, .deleteButton {
  width: 55px;
}

.saveButton, .cancelButton, .askButton {
  width: 100px;
}

.editButton:hover,
.deleteButton:hover,
.saveButton:hover,
.cancelButton:hover {
  background-color: #0069d9;
}

.saveCancel {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.saveCancel button {
  margin-right: 0.5em;
}

.askButton {
  margin-left: auto;
  background-color: #b00020;
  display: inline-block;
}

.askButton:hover {
  background-color: #7f0000;
}

.editArea {
  width: 100%;
  height: 10em;
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
}

.contentBlock {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1em;
  padding: 1em;
  border-radius: 0.25em;
}

.content {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 00px 0;
  padding: 10px;
  background-color: #fff;
}

.content p {
  margin: 10px 0;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin: 20px 0 10px;
}

.content ul,
.content ol {
  margin: 10px 0;
  padding-left: 20px;
  list-style: inherit;
}

.content li {
  margin: 5px 0;
  list-style: inherit;
}

.content a {
  color: #0077c0;
  text-decoration: none;
  border-bottom: 1px solid #0077c0;
}

.content a:hover {
  color: #005daa;
  border-bottom: 1px solid #005daa;
}

.content pre {
  font-size: 14px;
  line-height: 1.5;
  background-color: #f5f5f5;
  color: #333;
  padding: 10px;
  overflow: auto;
  border-radius: 5px;
}

.dragHandle {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: move;
}

.dragHandle i {
  font-size: 16px;
}

.addBlock {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 0.8em;
  opacity: 0.5;
  cursor: pointer;
}

.addBlock:hover {
  opacity: 1;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  z-index: 1000;
  display: none;
}

.dropdown-toggle {
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  color: #fff;
  margin-left: 1em;
  cursor: pointer;
}

.dropdown-menu {
  background-color: #007bff;
  color: #fff;
  border-radius: 0;
}

.dropdown-item {
  color: #fff;
  font-size: 1em;
}

.dropdown-item:hover {
  background-color: #0069d9;
}

.dropdown-item i {
  margin-right: 0.5em;
}

table {
  border-collapse: collapse;
  margin: 1em 0;
  width: 100%;
  font-size: 0.9em;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 0.5em;
  text-align: left;
}

table th {
  background-color: #f7f7f7;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #eaeaea;
}

table thead th:first-child,
table tbody td:first-child {
  border-left: none;
}

table thead th:last-child,
table tbody td:last-child {
  border-right: none;
}

table thead th,
table tbody td {
  border-top: none;
}

table tfoot td {
  background-color: #f7f7f7;
  font-weight: bold;
  text-align: right;
}
